@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h2>Please use the navigation bar above to access the Products table from the requested MySQL Database.</h2>
    <p>
        I hope you enjoy this demonstration of the MVC design pattern to access and alter the data contained in the example database.
        If you have any questions or would just like to reach out to discuss this project you can reach me at my LinkedIn profile below.
    </p>
    <div class="container align-content-center">
        <div class="table align-content-center">
            <div class="badge-base LI-profile-badge align-self-center" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="baines-deal" data-version="v1">

                <a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/baines-deal?trk=profile-badge">Baines Deal</a>
            </div>
        </div>
    </div>

</div>
